.page {
    flex: 1 1 auto;
    background: #F8FFD0;
}
.main_block {
    padding: 161px 0 192px 0;
}
.main_block__container {
    display: flex;
}
.main_block__body {
    max-width: 546px;
}
.main_block__title {

}
.main_block__image {
    
}