.page {
    flex: 1 1 auto;
    background: #F8FFD0;
}
.main_block {
    height: calc(100vh - 104px);
}
.main_block__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
}
.main_block__body {
    max-width: 546px;
}
.main_block__title {
    font-size: 58px;
    font-weight: 900;

}
.main_block__image {
    width: 300px;
    height: 200px;
}