.header {
    flex: 0 0 auto;
    background-color:  #F8FFD0;
}
.header__container {
    display: flex;
    min-height: 104px;
    align-items: center;
}
.header__logo {
    display: inline-block;
    border: 1px solid #8D9F22;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 700;
    line-height: 130%;
    color: white;
    background-color: #8D9F22;
    padding: 5px;
}
.header__textlogo {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 600;
    line-height: 130%;
    color: #00062F;
}